body{
    background-color: #000B33;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    overflow: hidden;
}

#main{
    z-index: 1;
    margin: 0px;
    padding: 0px;
}

#color-grid{
    padding: 0px;
    margin: 0px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#red{
    background-color: #540C00;
    border-radius: 10px;
}

#green{
    background-color: #01691E;
    border-radius: 10px;
}

#blue{
    background-color:#000B33;
    border-radius: 10px;
}

#yellow{
    background-color: #BA9B00;
    border-radius: 10px;
}

#purple{
    background-color: #1A0154;
    border-radius: 10px;
}

.grid-block{
    width: 120px;
    height: 200px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    color: white;
}

#hero-wrapper{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.color-block{
    transition: 0.25s;
}

.color-block:hover{
    transform: translate(0px, -25px);
}

#name{
    font-size: 50px;
}

#sub-name{
    font-size: 35px;
}

.border{
    border-style: solid;
    border-color: white;
    border-width: 8px;
    border-bottom: none;
    border-radius: 10px;
}

.cards{
    font-size: 15px;
}

#work{
    margin-bottom: 0px;
}

#experience{
    margin-top: 0px;
}

#button-position{
    position: absolute;

    bottom: -100px;
    right: 0px;
    left: 0px;
}